.plug-board {
  background: #ffffff;
  border: 1px black solid;
}

.plug-post {
  padding: 10px 10px 0px 10px;
  margin-bottom: 5px;
}

.plug-text {
  width: 100%;
}

.plug-form label {
  margin-right: 15px;
}

.plug-post-date {
  float: right;
}

.plug-form div {
  margin-bottom: 5px;
}

.plug-header {
  border-bottom: 1px solid black;
}

.plug-form {
  border-top: 1px solid black;
}

.plug-header h1 {
  margin: 0px;
}
